@model AppUser

@{
    ViewData["Title"] = "Delete User";
}

<h1>Delete</h1>

<h4>Are you sure you want to delete this user? </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            @if (String.IsNullOrEmpty(ViewBag.UnableToDeleteMsg))
            {
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            }
            else
            {
                <p class="alert-warning">@ViewBag.UnableToDeleteMsg</p>
                <hr />
            }

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
