@model EditAppUserViewModel

@{
    ViewData["Title"] = "EditDetails";
}

<h1>Edit</h1>
<h4>User</h4>

@if (!String.IsNullOrEmpty(Model.AvatarAsBase64String))
{
    <hr />
    <img style="width:200px;height:200px" src="data:image/*;base64,@Model.AvatarAsBase64String" />
}

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" placeholder="Enter User Name"/>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Enter E-mail"/>
            </div>

            <hr />

            <div class="form-group">
                <label asp-for="Avatar" class="control-label">Upload Avatar</label>
                <input asp-for="Avatar" class="form-control-file" accept="image/*" />
            </div>

            <hr />

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>


